body{
  color:black; 
  font-family: Didot,serif;
  background-color: whitesmoke;
}
/* ------------------------------------------------------------------------------------ */
/* Network */
#viz{
  border:1px solid black;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
  
.nodes circle {
  stroke: rgb(61, 51, 51);
  stroke-width: 1.5px;
}

text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.network_g{
  text-align:center;
  position:relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* ------------------------------------------------------------------------------------ */
/* Other */
.w-20 {
  width: 20% !important;
} 
.lda{
  height:860px;
}
/* ------------------------------------------------------------------------------------ */
/* Contenu page */
.content{
  display:grid;
  padding-top:3%;
  grid-template-columns: 2fr 1fr;
}
.left{
  height:800px;
}
.right{
  height:800px;
}
svg{
  border:1px solid black;
}
.infosvg{
  width  : 18px;
  height : 18px;
  margin : 0;
}
.divider{
  border: 1px solid black;
  position:relative;
  margin-top   : 5px;
  margin-bottom: 5px;
}
/* ------------------------------------------------------------------------------------ */
/*Navbar*/
.navbar{
  /*position:fixed;*/
}
.nav_header{
  position:fixed;
  top:0;
  margin: 0;
  width : 1500px;
  height: 200px;
}

.nav-item{
  left:0;
  right:0;
}
.nav-link{
  text-align:center;
  color:black;
}

.nav_bar{
  background-color: whitesmoke;
  list-style: none; 
  margin-left   : 0; 
  margin-bottom : 10;
  margin-top    : 10;
  display:block;
}
.nav_bar li{
  display: table-cell; 
}
.title{
  text-align:center;
  letter-spacing:30px;
  text-transform : uppercase;
  display:block;
  border-top: 2px solid gray ;
  margin-left   : 0; 
  margin-right  : 0;
  margin-bottom : 10;
  margin-top    : 10;
} 
/* ------------------------------------------------------------------------------------ */
/*
.titreGraphe{
	padding-top:160px;
	color:rgba(98, 98, 98, 1);
	font-family: Didot,serif;
	letter-spacing:3px;
	text-align:center;
	font-size:20px;
	padding-bottom:2%;
}
*/
.titreGraphe {
    margin-top: 3%;
    color: rgba(98, 98, 98, 1);
    font-family: Didot,serif;
    letter-spacing: 3px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    padding-top: 1%;
    width: 90%;
    position: center;
    margin-left: auto;
    margin-right: auto;
}


.titreCluster{
	color:rgba(98, 98, 98, 1);
	font-family: Didot,serif;
	letter-spacing:3px;
	text-align:center;
	/*border:1px solid red;*/
	
}
.clusters{
	margin-left:34%;
	margin-top:5%;
}

.descriptionText{
	width:55%;
	margin-left:25%;
	margin-top:5%;
	color:rgba(98, 98, 98, 1);
	font-family: Didot,serif;
	text-align:justify;
}
.descriptionTitre{
	/*border:1px solid red;*/
	letter-spacing:5px;
	font-family: Didot,serif;
	color:rgba(98, 98, 98, 1);
	/*margin-left:35%;*/
	margin-top:7%;
	font-size:17px;
	text-align:center;
	
}
/* _____________________________________ modif gaelle _____________________*/

.etude{
	/*border: 1px solid red; */
	height:670px;
	background-color:rgb(220, 220, 220);
	margin-top:10%;
	margin-bottom:10%;
	
}
.w-33{
  width: 33% !important;
}
.titreGraphique{
	letter-spacing:5px;
	font-family: Didot,serif;
	color:rgba(98, 98, 98, 1);
	margin-top:4%;
	margin-bottom:3%;
	font-size:18px;
	text-align:center;
	padding-top:3%;
}
.legendeGraphique{
	width:70%;
	margin:auto;
	background-color:white;
	/*border:1px solid red;*/
	height:15%;
	text-align:justify;
	padding:2%;
	font-family: Didot,serif;
	color:rgba(98, 98, 98, 1);
	letter-spacing:1px;
	margin-top:2%;
}

/*_____________________________________ parametre page index.html _______________________________*/
#param{
	/*border:1px solid red;*/
	float:left;
	width:50%;
	height:700px;
}
#legendeGraphiqueSarah{
	/*border:1px solid red; */
	float:left;
	width:50%;
	height:640px;
	padding:1%;
	text-align:justify;
	font-family: Didot,serif;
	color:rgba(98, 98, 98, 1);
	letter-spacing:1px;
	border-left:2px solid rgb(220, 220, 220);
	border-right:2px solid rgb(220, 220, 220);
	background-color:white;
}
#tableSarah{
	border: 1px solid black;
	width: 100%;
	padding:3%;
	margin:auto;
	text-align:center;
	margin-top:15%;
}
#tableSarah td, th {
	border: thin solid white;
	width:auto;
	padding:3%; 
	text-align:center;
}

#etudeParamSarah{
	height:750px;
}

/*_____________________________________ LDA page index.html _______________________________*/

#etudeLDA{
	height:1250px; 
	margin-top:0%;
}
#legendeGraphiqueTheo{
	height:19%; 
}
/*_______________________________________ LEGENDE ________________________________________*/
#legendofgraf{
	/*border:1px solid red; */
	margin-top:-20%;
	margin-left:7%; 
}





