body{
  color:black; 
  font-family: Didot,serif;
  background-color: whitesmoke;
}
/* ------------------------------------------------------------------------------------ */
/* Network */
#viz{
  border:1px solid black;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
  
.nodes circle {
  stroke: rgb(61, 51, 51);
  stroke-width: 1.5px;
}

text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.network_g{
  text-align:center;
  position:relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* ------------------------------------------------------------------------------------ */
/* Other */
.w-20 {
  width: 20% !important;
} 
.w-33{
  width: 33% !important;
}
.lda{
  height:860px;
}
/* ------------------------------------------------------------------------------------ */
/* Contenu page */
.content{
  display:grid;
  padding-top:100px;
  grid-template-columns: 2fr 1fr;
}
.left{
  height:850px;
}
.right{
  height:850px;
}

.infosvg{
	
  border:1px solid black;
  width  : 18px;
  height : 18px;
  margin : 0;
}
.divider{
  border: 1px solid black;
  position:relative;
  margin-top   : 5px;
  margin-bottom: 5px;
}
/* ------------------------------------------------------------------------------------ */
/*Navbar*/
.navbar{
  position:fixed;
}
.nav_header{
  position:fixed;
  top:0;
  margin: 0;
  width : 1500px;
  height: 200px;
}

.nav-item{
  left:0;
  right:0;
}
.nav-link{
  text-align:center;
  color:black;
}

.nav_bar{
  background-color: whitesmoke;
  list-style: none; 
  margin-left   : 0; 
  margin-bottom : 10;
  margin-top    : 10;
  display:block;
}
.nav_bar li{
  display: table-cell; 
}
.title{
  text-align:center;
  letter-spacing:30px;
  text-transform : uppercase;
  display:block;
  border-top: 2px solid gray ;
  margin-left   : 0; 
  margin-right  : 0;
  margin-bottom : 10;
  margin-top    : 10;
} 
/* ------------------------------------------------------------------------------------ */

.titreGraphe{
	padding-top:160px;
	color:rgba(98, 98, 98, 1);
	font-family: Didot,serif;
	letter-spacing:3px;
	text-align:center;
	font-size:20px;
}
.titreCluster{
	color:rgba(98, 98, 98, 1);
	font-family: Didot,serif;
	letter-spacing:3px;
	text-align:center;
}
.clusters{
	margin-left:34%;
	margin-top:5%;
}

.descriptionText{
	width:50%;
	margin-left:30%;
	margin-top:5%;
	color:rgba(98, 98, 98, 1);
	font-family: Didot,serif;
	text-align:justify;
}
.descriptionTitre{
	letter-spacing:5px;
	font-family: Didot,serif;
	color:rgba(98, 98, 98, 1);
	margin-left:35%;
	margin-top:7%;
	font-size:17px;
	
}
















